.header {
  padding: 50px 100px;
  background-color: #999;
  text-align: center;
  font-size: 32px;
  font-family: sans-serif;
  color: #fff;
}
.main {
  background-color: rgb(0, 255, 136);
  padding: 50px 100px;
  font-size: 38px;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
}
